* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #e1eedd;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  border: solid 2px;
  text-align: center;
  color: #183a1d;
  background-color: #f0a04b;
}

h2 {
  margin: 10px;
  color: #183a1d;
  text-align: center;
}

.Questions {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
  bottom: 0;
}

footer {
  border-top: solid 2px #183a1d;
  border-bottom: solid 2px #183a1d;
  position: fixed;
  bottom: 0;

  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar li {
  list-style: none;
}
