* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #e1eedd;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  height: 100px;
}

h1 {
  border: solid 2px;
  text-align: center;
  color: #183a1d;
  background-color: #f0a04b;
}

h2 {
  margin: 10px;
  color: #183a1d;
  text-align: center;
}

.Question1 {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
}

.Question2 {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
}

.Question3 {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
}

.Question4 {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
}

.Question5 {
  border: dotted 2px #f0a04b;
  padding: 50px;
  margin: 20px;
}
.container {
  border-top: solid 2px #183a1d;
  border-bottom: solid 2px #183a1d;
  position: fixed;
  bottom: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 1400px;
}
